main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-principal{
    font-family: var(--font-principal);
    color: var(--color-violeta-oscuro3);
}

.texto-p {
    font-family: var(--font-titulo2);
    color: var(--color-violeta-oscuro1);
}

.texto-blanco{
    font-family: var(--font-principal);
    color: var(--color-violeta-claro1);

}

.boton-logo {
    background-color: var(--color-violeta-oscuro3);
}
.boton-logo-claro{
    background-color: var(--color-violeta-claro1);
}

.imagen{
    transition:transform 1s ease;
}

.imagen:hover{
  transform: translateX(30px); 
}
/*Lineas al rededor de la huella*/
.icon-huella::before,
.icon-huella::after {
  content: "";
  display: flex;
  width: 60px; 
  height: 1px;
  background-color: var(--color-violeta-oscuro3);
}

 /*configuracion de las tarjetas*/
.card-servicio{
    background-color: var(--color-violeta-claro1);
    box-shadow: 0 1px 1.2rem var(--color-violeta-oscuro3);
    transition: transform 1s ease;
}

.card-servicio:hover{
    transform: translateY(-10px);
}

/*configuracion de videos*/
.video{
    width: 20rem;
    background-color: var(--color-violeta-claro1);
    box-shadow: 0 1px 1.2rem var(--color-violeta-oscuro3);
}

/*configuracion de mapa*/
.mapa iframe{
    box-shadow: 0 4px 12px var(--color-violeta-oscuro3);
}

@media (max-width: 768px) {
    header {
        padding: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .navegacion {
        width: 100%;
    }

    .navegacion ul {
        padding: 0;
        justify-content: space-around;
    }
}

@media (max-width: 576px) {
    .navegacion ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .boton-container {
        margin: 0;
    }
}